 

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*span.label a {
	color:#fff;
}*/



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*@font-face {
font-family: ApexBold;
src: url('/static/fonts/ApexNew-Bold.otf');
} 

@font-face {
font-family: ApexBook;
src: url('/static/fonts/ApexNew-Book.otf');
} 

@font-face {
font-family: Apex;
src: url('/static/fonts/ApexNew-Medium.otf');
} */





body{
	font-family: ApexBook;
	color: #c4bcbc;
	font-size: 1em;
}


a{
font-size:.7em;
color: #ffc0cb;
}

a:hover{
font-size:.7em;
color: #ffc0cb;
text-decoration:none;
}
















